* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* GRID */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Header */
.header {
  background: #2b2b2b;
  position: fixed;
  width: 100%;
}
.header .contact{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header .branding h3 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  
}
.header .branding h3 span {
  color: #ffa700;
}
.header .branding {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .header__nav ul li a {
  color: #ffffff;
  font-size: 1.8rem;
}
.header .header__nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav ul li:hover a {
  color: #ffa700;
  scale: 1.1;
}
.header .header__nav ul li:hover {
  scale: 1.1;
  transition: 0.5s ease;
}
.header .toggle__menu {
  display: none;
}
.header .toggle__menu span {
  width: 3rem;
  height: 0.3rem;
  background-color: #ffa700;
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.header .toggle__menu span:nth-child(2) {
  margin: 0.5rem 0;
}
.header .toggle__menu.open span:first-child {
  transform: translateY(10px) rotate(225deg);
  transition: 0.5s ease;
}
.header .toggle__menu.open span:nth-child(2) {
  opacity: 0;
}
.header .toggle__menu.open span:last-child {
  transform: translateY(-7px) rotate(-225deg);
  transition: 0.5s ease;
}
.header .header__nav.open {
  right: 0rem;
  transition: 0.5s ease;
}

/* HEADER MOBILE VIEW */
@media screen and (max-width: 500px) {
  .header .header__nav {
    background-color: #2b2b2b;
    position: absolute;
    right: -100rem;
    top: 8rem;
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    transition: 0.5s ease;
  }
  .header .header__nav ul {
    display: flex;
    flex-direction: column;
  }
  .header .branding img {
    width: 5rem;
  }
  .header .toggle__menu {
    display: block;
  }
}
/* BANNER */
.banner {
  padding-top: 13rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.banner .banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner .banner__text h1 {
  font-size: 10rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.banner .banner__text p {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
@media screen and (max-width: 500px) {
  .banner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner .banner__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .banner .banner__text {
    order: 2;
  }
  .banner .banner__text h1 {
    font-size: 3rem;
    text-align: center;
  }
  .banner .banner__text a {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .banner img {
    width: 20rem;
    margin: 0 auto;
  }
}

/* SRVC */
.srvc {
  background: #2b2b2b;
  padding: 5rem 0;
}
.srvc .srvc__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}
.srvc .srvc__card {
  text-align: center;
}
.srvc .srvc__card i {
  color: #ffa700;
  font-size: 5rem;
}
.srvc .srvc__card h4 {
  color: #ffa700;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
}
.srvc .srvc__card p {
  color: #ffffff;
  margin-bottom: 5rem;
  text-align: justify;
}

@media screen and (max-width: 500px) {
  .srvc .srvc__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 2rem;
    gap: 15rem;
  }
}


/* ABOUT ME */

.about {
  padding-left: 30rem;
  padding-right: 30rem;
  padding-top: 10rem;
  background-color: #ffffff;
}
.about .about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.about .about__text h5 {
  color: #ffa700;
  font-weight: 600;
  font-size: 2rem;
}
.about .about__text p {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: justify;
}

/* MOBILE ABOUT ME */
@media screen and (max-width: 500px) {
  .about {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about .about__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about .about_text {
    order: 2;
  }
  .about .about__text h5 {
    text-align: center;
    padding-top: 1rem;
  }

  .about img {
    width: 20rem;
    margin: 0 auto;
  }
}
/* LATEST TREND */
.latest {
  background-color: #2b2b2b;
  padding: 5rem 0;
}
.latest .latest__title h2 {
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latest .latest__title p {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.latest .latest__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.latest .latest__title {
  margin-bottom: 8rem;
}
.latest .latest__card {
  background: #ffffff;
  border-radius: 2rem;
}
.latest .latest__text {
  padding: 3rem 2rem;
}
.latest .latest__text h4 {
  color: #ffa700;
  font-weight: 600;
  padding-bottom: 1rem;
}
.latest .latest__text a {
  color: #ffa700;
}
.latest .latest__text p {
  padding-bottom: 2rem;
}

/* MOBILE LATEST TREND */
@media screen and (max-width: 500px) {
  .latest .latest__title {
    text-align: center;
  }
  .latest .latest__title h2 {
    font-size: 4rem;
  }
  .latest .latest__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .latest .latest__card {
    margin: 0 2rem;
  }
  .latest .latest__card img {
    width: 100%;
  }
}
/* FREE */
.free {
  background-color: #ffa700;
  padding: 2rem;
}
.free .free__text {
  text-align: center;
}
.free .free__text h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem;
}
.free .free__text p {
  padding-bottom: 2rem;
}

/* FREE MOBILE VIEW */
@media screen and (max-width: 500px) {
  .free .free__text {
    font-size: 1.5rem;
  }
}

/* FOOTER */
.footer {
  background: #2b2b2b;
}
.footer .footer__wrapper {
  padding: 1rem;
}
.footer .footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .footer_social ul {
  display: flex;
  flex-direction: row;
}
.footer .footer_social ul li a {
  color: darkgray;
  padding-right: 1rem;
}
.footer .footer__wrapper p {
  color: darkgray;
  font-size: 1.5rem;
  display: flex;
  justify-content: end;
}
.footer .footer_social {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .footer .footer_social ul li a {
    font-size: 1.2rem;
  }
  .footer .footer__social {
    text-align: center;
  }
}

/* ABOUT ME PAGE */
.abt {
  padding-left: 30rem;
  padding-right: 30rem;
  padding-top: 10rem;
  background-color: #ffffff;
}
.abt .abt__text p {
  line-height: 2;
  font-weight: 530;
}
.abt .abt__text h1 {
  color: #ffa700;
  font-size: 10rem;
  font-weight: 600;
}
.abt .abt__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.abt .abt__social ul {
  display: flex;
  flex-direction: row;
}
.abt .abt__social ul li a {
  color: #ffa700;
  padding-right: 1.5rem;
  font-size: 3rem;
}
.abt .abt__text p {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: justify;
}
.abt .fa-solid {
  color: #ffa700;
  padding-left: 60rem;
  font-size: 5rem;
}
/* MOBILE ABOUT ME PAGE */
@media screen and (max-width: 500px) {
  .abt {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .abt .abt__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .abt .abt__text h1 {
    font-size: 4rem;
    text-align: center;
  }
  .abt .abt__text {
    order: 2;
  }
  .abt img {
    width: 30rem;
    margin: 0 auto;
  }
  .abt .abt__social {
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .abt .fa-solid {
    padding-left: 20rem;
  }
}

/* MY RECENT PROJECTS */

.about__page {
  background-color: #2b2b2b;
  padding: 5rem 0;
}
.about__page .about__title h2 {
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.about__page .about__title {
  color: #ffffff;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.about__page .abtpage__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.about__page .about__title {
  margin-bottom: 8rem;
}
.about__page .abtpage__card {
  background: #ffffff;
  border-radius: 2rem;
}
.about__page .abtpage__text {
  padding: 3rem 2rem;
}
.about__page .abtpage__text h4 {
  color: #ffa700;
  font-weight: 600;
  padding-bottom: 1rem;
}
.about__page .abtpage__text a {
  color: #ffa700;
}
.about__page .abtpage__text p {
  padding-bottom: 2rem;
}

/* MOBILE MY RECENT PROJECTS*/
@media screen and (max-width: 500px) {
  .about__page .about__title {
    text-align: center;
  }
  .about__page .about__title {
    font-size: 4rem;
  }
  .about__page .abtpage__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about__page .abtpage__card {
    margin: 0 2rem;
  }
  .about__page .abtpage__card img {
    width: 100%;
  }
}

/* SERVICE PAGE */

.services {
  padding-top: 3rem;
  background: white;
}
.services .fa-solid {
  display: grid;
  justify-items: center;
  color: #ffa700;
  font-size: 3rem;
  padding-bottom: 3rem;
}
.services .service__text h6 span{
  font-style: italic;
}
.serviceItem:nth-child(even) {
  background: #2b2b2b;
}
.serviceItem:nth-child(even) .service__text {
  order: 2;
}
.serviceItem:nth-child(even) p, .serviceItem:nth-child(even) h6 {
  color: white;
}
.services .service__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  max-width: 117rem;
  margin: 0 auto;
}
.services .service__text h2 {
  padding-top: 10rem;
  padding-bottom: 2rem;
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.services .service__text p {
  margin-top: 3rem;
  text-align: justify;
}
.services .service__text h3 {
  font-size: 3rem;
  color: #ffa700;
  font-weight: 530;
}
.services .service__text h6 {
  font-size: 1rem;
}
.services .service__wrapper img {
  padding-top: 15rem;
}

/* Hide last chevron */
.services .serviceItem:last-child a {
display: none;
}

@media screen and (max-width:500px) {
  .serviceItem {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .serviceItem .service__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .serviceItem .service__text {
    order: 2;
  }
  .serviceItem h2 {
    font-size: 4rem;
    text-align: center;
  }
  .serviceItem p, .services__content {
    text-align: center;
  }
  .serviceItem h3 {
    font-size: 2.5rem;
  }
  .serviceItem img {
    width: 20rem;
    margin: 0 auto;
  }
}

/* UPDATES */

.updates{
  padding-top:13rem;
  padding-bottom:5rem;
  background:#ffffff;
}
.updates  .updates__title h2{
  color:#ffa700;
  font-size:5rem;
  font-weight:600;
}
.updates  .updates__title p{
  font-size:1.8rem;
  padding-bottom: 5rem;
}
.updates .updates__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr;
}
.updates .updates__post p{
  font-size:1.5rem;
  text-align:justify;
  padding-bottom:3rem;
}
.updates .updates__post ul{
  display:flex;
  flex-direction: row;
  gap:2rem;
  padding-top:1.5rem;
}
.updates .updates__post h4{
  color:#ffa700;
  font-size:2rem;
  font-weight:700;
  padding-bottom:2rem;
}
.updates .updates__post a{
  color:#ffa700
}
.updates .updates__category {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  margin-left:6rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid darkgray;
  gap: 30px;
}
.updates .updates__category .name h5{
  color:#ffa700;
  font-size:2rem;
  font-weight:600;
}
.updates .updates__category .name p{
  padding: 1rem;
}
.updates .updates__category .number p{
  padding:1rem;
}
.updates .updates__category .number{
  padding-top:2.8rem;
}
.updates .recent__card{
  display:flex;
  padding-left:6rem;
  padding-top:2rem;
  gap:30px;
}
.updates  .updates__recent h5{
  color: #ffa700;
  font-size:2rem;
  font-weight:600;
  padding-left:6rem;
  padding-bottom: 4rem;
}
.updates .recent__card h6{
  font-size:1.6rem;
  font-weight:600;
  margin-bottom:2.5rem;
}
.updates .recent__card p{
  padding-bottom:0rem;
}
.updates .tags h5{
  padding-right: 30rem;
}
.updates .tags{
  padding-top: 8rem;
  margin-right: 5rem;
}
.updates .tags .btn{
  display: inline-block;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
}
.updates .updates__items{
  border-bottom: 1px solid darkgray;
  margin-left: 3rem;
}
/* MOBILE UPDATE */
@media screen and (max-width:500px){
  .updates{
    padding-left:2rem;
    padding-right:2rem;
  }
  .updates .updates__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .updates .updates__item{
    margin-bottom:0rem;
  }
  .updates .updates__item ul {
    font-size: 1.5rem;
  }
  .updates .updates__item ul p{
    font-size: 1.2rem;
  }
  .updates .updates__category {
    padding-left:0rem;
    margin-left: 0rem;
  }
  .updates .updates__recent{
    margin-left: 0rem;
  }
  .updates .updates__recent h5{
    padding-left: 0rem;
    margin-top:6rem;
  }
  .updates .recent__card{
    padding-left:0rem;
  }
  .updates .updates__buttons h5{
    margin-top:6rem;
  }
  .updates .updates__buttons{
    margin-left: 0rem;
  }
  .updates .updates__item:last-child{
    border-bottom: 1px solid lightgray;
  }
}
/* CONTACT PAGE */
.contact{
  padding-top:20rem;
  padding-bottom:15rem;
  background:#2b2b2b;
  border-bottom: 1px solid darkgray;
}
.contact .contact__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact .contact__title h4{
  color:#ffa700;
  font-size:5rem;
  font-weight:800;
}.contact .contact__item2{
  display: grid;
  grid-template-columns: 0.1fr 0.6fr;
  margin-top:6rem;
}
.contact .contact__title h6{
  color:#ffffff;
  margin-top:3rem;
}
.contact .contact__item2 p{
  color:#ffffff;
  margin-bottom: 3rem;
}
.contact .contact__text ul li i{
  color:#ffa700;
  font-size: 2.5rem;
}
.contact .contact__item ul{
  display:flex;
  gap:1.5rem;
  margin-top:2rem;
}
.contact .contact__item ul li a{
  color:#ffffff;
  font-size: 2.5rem;
}
.contact .contact__info p{
  color: darkgrey;
}
.contact .contact__info .btn{
  margin-top:2rem;
  margin-left: 39.5rem;
}
.contact .contact__info p{
  background-color:#ffffff;
  padding:1.5rem 2rem;
  margin:2rem;
}
.contact .contact__info .message p{
  padding-bottom: 10rem;
}
.header.header__contact{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* CONTACT MOBILE */
@media screen and (max-width:500px){
  .contact{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .contact .contact__wrapper{
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact .contact__item{
    display: flex;
    justify-content: center;
  }
  .contact .contact__item2{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }
  .contact .contact__info{
    margin-top:6rem;
  }
  .contact .contact__info .btn{
    margin-left:22rem;
  }
}
/* REPEATABLE PATTERNS */
.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  color: #ffffff;
}
.btn:hover {
  scale: 1.1;
}
.btn.bg--primary {
  background: #ffa700;
}
.btn.bg--dark {
  background: #2b2b2b;
  color: #ffffff;
}
.btn.bg--white {
  background: #ffffff;
  color: #2b2b2b;
  border: 1px solid #2b2b2b;
}
.btn.bg--white:hover{
  background: #2b2b2b;
  color: #ffffff;
}